Package: candybox
Version: 0.0.1
Section: admin
Installed-Size: 836
Maintainer: Alexander Bykov <alardus@alardus.org>
Architecture: all
Depends: ppp, python
Description: candybox project files and configs
