<!DOCTYPE html>
<html>
  <head>
    <title>About - Candybox</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="static/css/bootstrap.css" rel="stylesheet" media="screen">

  <style>
  body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    background-color: #ffffff;
    background: url(../static/img/{{bg}}.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
  }
  </style>

  </head>
  <body>
    <script src="static/js/jquery.js"></script>
    <script src="static/js/bootstrap.js"></script>

  <!-- Check for auth -->
    %if error:
    <h3 class="text-error">Ooops, seems like you are not authorized to view this page. Try to login first.</h3>
    %end

  <!-- Navbar -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
        <a class="brand"><img src="static/img/candybox.png" width="16" height="16"> Candybox</a>
          <form id="form" action="/reboot" method="POST">
            <div class="nav-collapse collapse">
              <p class="navbar-text pull-right">
                <button type="submit"><i class="icon-repeat"></i></button>
                <button type="submit" onclick="form.action='/off' "><i class="icon-off"></i></button>
              </p>

            <ul class="nav">
              <li><a href="setup">Settings</a></li>
              <li class="divider-vertical"></li>
              <li><a href="status">Status</a></li>
              <li class="divider-vertical"></li>
              <li class="active"><a href="">About</a></li>
            </ul>

        </div>
      </form>
      </div>
    </div>

  <!-- Body -->
    <div class="container-fluid">
    <div class="row-fluid">

      <!--Body content-->
        <div class="span8 offset2"><br>
      
      <!-- Internet connection -->
      <div class="block-inline">

      <section id="info">
      <div align="center">
        <img src="static/img/candybox_l.png">

        <h3>Candybox 0.0.2</h3>
        <p>Turn your Raspberry Pi into router</p>

        <br>
        <b>Information and documentation</b><br>
        Homepage: <a href="http://www.candyboxrouter.com">http://www.candyboxrouter.com</a><br>
        GitHub: <a href="http://github.com/alardus/candybox">http://github.com/alardus/candybox</a>
        <br><br>


        <b>Authors</b><br>
        Candybox was invented and created by:<br>

        – Alexander Bykov (<a href="https://github.com/alardus">@alardus</a>)<br>
        – Grigory Bakunov (<a href="https://github.com/bobuk">@bobuk</a>)<br>
        – Danil Ivanov (<a href="https://github.com/imfo">@imfo</a>)<br>
        – Alexey Markin<br>
        – Anatoly Lebedev<br>
        – Tatiana Bykova</br>
        <br>

        <b>Contributors</b><br>
        <p>If you want to help make Candybox better, feel free to do so.<br> Join project on GitHub and make a pull request.</p>
        <br><br><br>
        <p>Copyright &copy; 2013&mdash;2014, Alexander Bykov.</p>

      </div>
      </section>

      </div>

    </div> <!-- row -->
  </div> <!-- container -->

  </body>
</html>
