<!DOCTYPE html>
<html>
  <head>
    <title>Setup - Candybox</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="static/css/bootstrap.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <script src="static/js/jquery.js"></script>
    <script src="static/js/bootstrap.js"></script>

  <!-- Check for auth -->
    %if error:
    <h3 class="text-error">Ooops, seems like you are not authorized to view this page. Try to login first.</h3>
    %end

  <!-- Navbar -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
        <a class="brand"><img src="static/img/candybox.png" width="16" height="16"> Candybox</a>

          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              <button type="submit" onclick="form.action='/reboot' "><i class="icon-repeat"></i></button>
              <button type="submit" onclick="form.action='/off' "><i class="icon-off"></i></button>
            </p>

          <ul class="nav">
            <li class="active"><a href="">Settings</a></li>
            <li class="divider-vertical"></li>
            <li><a href="status">Status</a></li>
            <li class="divider-vertical"></li>
            <li><a href="about">About</a></li>
          </ul>

        </div>
      </div>
    </div>

  <!-- Body -->
    <div class="container-fluid">
    <div class="row-fluid">

      <!-- Sidebar content -->
        <div class="span2"><br>
          <div class="well sidebar-nav">
              <p><i>Note:</i> Here you can setup many of features that you may need from a router. All other setting can be accessed by SSH: <code>$ ssh 192.168.0.1</code></p>
          </div>
      </div>

      <!--Body content-->
        <div class="span8"><br>
      
      <!-- Internet connection -->
      <form id="form" class="block-inline" action="/password" method="POST">
          <h2>Internet <span class="label {{badge}}">{{connect}}</span></h2>
          <p>Beeline ISP using VPN to get access to the Internet. To establish connection, enter your username and password bellow:</p>
            <input name="login" type="text" class="input-large" value={{login}} placeholder="Username"><br>
            <input name="pwd" type="password" class="input-large" value={{pwd}} placeholder="Password"><br> 
            <button class="btn" type="submit">Save &amp; connect</button>
            <button class="btn btn-danger" type="submit" onclick="form.action='/network_disconnect' ">Disconnect</button>
      </form>

      <!-- Netflix and Pandora -->
      <form class="block-inline" action="/proxy" method="POST">
          <h2>Netflix and Pandora</h2>
          <p>If you are living outside the US you can't use Netflix, Pandora and some other services in a normal way. To access them you need to use proxy services located in the US.</p> 
          <p>Not all of them are free for use, so you may need to create account before you using them. Currently we offer support only for <a href="http://tunlr.net">Tunlr</a> (free, but does not support Netflix) and <a href="http://www.unblock-us.com">Unblock-US</a> (requires payment and supports everything).</p><br>

        <table class="table table-striped">
        <tr>
          <td>Select service used for access <b><i>Netflix</i></b></td>
          <td><select name="netflix">
              <option value="208.122.23.22" {{netflix_block}}>Unblock-US (requires payment)</option>
                <option value="69.197.169.9" {{netflix_tunlr}}>Tunlr (free)</option></select>
            </td>
        </tr>

        <tr>
          <td>Select service used for access <b><i>Pandora</i></b> </td>
          <td><select name="pandora">
              <option value="208.122.23.22" {{pandora_block}}>Unblock-US (requires payment)</option>
              <option value="69.197.169.9" {{pandora_tunlr}}>Tunlr (free)</option>
            </select></td>
        </tr>
        </table>
            <button class="btn" type="submit">Apply changes</button>
        </form>

      <!-- Port forwarding -->
      <div class="block-inline">
          <h2>Port forwarding</h2>
          <p>Port forwarding allows remote computers (for example, computers on the Internet) to connect to a specific computer or service within a private local-area network (LAN).</p>

            % str = ''
            % for port, host in ports_info:
            %     str += '<form action="/port" method="POST" class="form-inline"> <input name="host" value="%s" type="text" readonly="readonly"/> <input name="port" value="%s" class="span1" type="text" readonly="readonly"/> <input name="action" value="remove" type="hidden"/> <button class="btn" type="submit"><i class="icon-remove"></i></button> </form>' % (host, port)
            % end
            
            {{!str}}

            <form id="remove-port-template" action="/port" method="POST" class="form-inline" style="display:none">
               <input name="host" type="text" readonly="readonly"/>
               <input name="port" class="span1" type="text" readonly="readonly"/>
               <input name="action" value="remove" type="hidden"/>
               <button class="btn" type="submit"><i class="icon-remove"></i></button>
            </form>

            <form action="/port" method="POST" class="form-inline">
              <input name="host" type="text" placeholder="host"/>
              <input name="port" class="span1" type="text" placeholder="port"/>
              <input name="action" value="add" type="hidden"/>
              <button class="btn" type="submit"><i class="icon-plus"></i></button>
            </form>
            
            <p id="port-action-error" class="text-error" style="display:none"/>
          </div>

      <!-- DynDNS -->
        <form class="block-inline" action="/dyndns" method="POST">
          <h2>DynDNS</h2>

          <p>Dynamic DNS service used to connect remotely to your DVR, webcam, computer or many other devices. Currently we offer support only for <a href="http://dyn.com">DynDNS</a> service and only for one hostname.</p>

          <table class="table table-striped">
          <tr>
            <td><input name="login" type="text" class="input-medium" value={{dyn_login}} placeholder="DynDNS username"></td>
            <td><input name="password" type="password" class="input-medium" value={{dyn_password}} placeholder="DynDNS password"></td>
            <td><input name="host" type="text" class="input-medium" value={{dyn_host}} placeholder="DynDNS hostname"></td>
          </tr>
          </table>
            <button class="btn" type="submit">Apply changes</button>
            <button class="btn btn-danger" type="submit" onclick="form.action='/dyndns_disconnect' ">Disconnect</button>
          </form>
      </div>
    </div> <!-- row -->
  </div> <!-- container -->


  <!-- JS -->
  <script type="text/javascript">
      $("form input").focus(function() {
        $("#port-action-error").fadeOut();
      });
      
      $("form[action='/port']").submit(function() {
        var errorText = "";
        var errorBlock = $("#port-action-error");
        errorBlock.fadeOut();
        
        var form = $(this);
        var action = form.find("input[name='action']").attr("value");
        
        var dataToSend = form.serialize();
        
        var submitIcon = $("button[type='submit'] i", this);
        var iconClass = submitIcon.attr("class");
        submitIcon.attr("class", "icon-time");
        
        var formElements = $("input, button", this);
        formElements.attr("disabled", "disabled");
        
        $.ajax({
          type: "POST",
          url: form.attr("action"),
          data: dataToSend,
          dataType: "json"
        })
        .done(function(data) {
          if (data.status !== "ok") {
            errorText = data.message;
            return;
          }
          
          if (action === "add") {
            var formTemplate = $("#remove-port-template");
            var clone = formTemplate.clone(true);
            clone.attr("id", null);
            clone.find("input[name='host']").val(data.host);
            clone.find("input[name='port']").val(data.port);
            formTemplate.before(clone);
            clone.fadeIn();
          } else {
            form.remove();
          }
        })
        .fail(function(jqXHR, textStatus, errorThrown) {
          errorText = "Lost connection";
        })
        .always(function(msg) {
          if (errorText) {
            errorBlock.text(errorText);
            form.append(errorBlock);
            errorBlock.fadeIn();
          }
          
          formElements.removeAttr("disabled");
          submitIcon.attr("class", iconClass);
        });
        
        return false;
      });
    </script>

  </body>
</html>