<!DOCTYPE html>
<html>
  <head>
    <title>Status - Candybox</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="static/css/bootstrap.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <script src="static/js/jquery.js"></script>
    <script src="static/js/bootstrap.js"></script>

  <!-- Check for auth -->
    %if error:
    <h3 class="text-error">Ooops, seems like you are not authorized to view this page. Try to login first.</h3>
    %end

  <!-- Navbar -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
        <a class="brand"><img src="static/img/candybox.png" width="16" height="16"> Candybox</a>
          <form id="form" action="/reboot" method="POST">
            <div class="nav-collapse collapse">
              <p class="navbar-text pull-right">
                <button type="submit"><i class="icon-repeat"></i></button>
                <button type="submit" onclick="form.action='/off' "><i class="icon-off"></i></button>
              </p>

            <ul class="nav">
              <li><a href="setup">Settings</a></li>
              <li class="divider-vertical"></li>
              <li class="active"><a href="">Status</a></li>
              <li class="divider-vertical"></li>
              <li><a href="about">About</a></li>
            </ul>

        </div>
      </form>
      </div>
    </div>

  <!-- Body -->
    <div class="container-fluid">
    <div class="row-fluid">

      <!--Body content-->
        <div class="span8 offset2"><br>
      
      <!-- Internet connection -->
      <div class="block-inline">

      <section id="info">
        <h2>Main router parameters overview</h2>
        <pre>Internet status: {{connect}}</pre>
        <pre>{{ifaces}}</pre>
        <pre>{{dns}}</pre>
        <pre>{{uptime}}</pre>
        <pre>System information: {{issues}}</pre>
      </br>

<form action="/var/log/syslog" method="GET">
      <button type="submit">syslog</button>
    </form>

      </section>

      </div>

    </div> <!-- row -->
  </div> <!-- container -->

  </body>
</html>