<!DOCTYPE html>
<html>
  <head>
    <title>About - Candybox</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="static/css/bootstrap.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <script src="static/js/jquery.js"></script>
    <script src="static/js/bootstrap.js"></script>

  <!-- Check for auth -->
    %if error:
    <h3 class="text-error">Ooops, seems like you are not authorized to view this page. Try to login first.</h3>
    %end

  <!-- Navbar -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
        <a class="brand"><img src="static/img/candybox.png" width="16" height="16"> Candybox</a>
        <ul class="nav">
          <li><a href="setup">Settings</a></li>
          <li class="divider-vertical"></li>
          <li><a href="status">Status</a></li>
          <li class="divider-vertical"></li>
          <li class="active"><a href="">About</a></li>
        </ul>
      </div>
      </div>
    </div>

  <!-- Body -->
    <div class="container-fluid">
    <div class="row-fluid">

      <!--Body content-->
        <div class="span8 offset2"><br>
      
      <!-- Internet connection -->
      <div class="block-inline">

      <section id="info">
        <h2>Candybox 0.1</h2>
        <p><b>Fully configured and ready to run software router for Raspberry Pi</b></p>
        All information about project and it's latest version available at <a href="http://candyboxrouter.org">http://candyboxrouter.org</a></p><br>

        <b>Want to help make it better?</b><br>
        Join us and do a pull request on GitHub - <a href="http://github.com/candyboxrouter">http://github.com/candyboxrouter</a><br><br>

        <b>Imagined and crafted by:</b><br>
        &ndash; Alexander Bykov (<a href="https://twitter.com/alardus">@alardus</a>)<br>
        &ndash; Grigory Bakunov (<a href="https://twitter.com/bobuk">@bobuk</a>)<br>
        &ndash; Danil Ivanov (<a href="https://twitter.com/imfo">@imfo</a>)<br>
        &ndash; Alexey Markin (@alexnz)<br>
        &ndash; Anatoly Lebedev (<a href="https://twitter.com/applegovno">@applegovno</a>)<br><br>

        <b>Third party projects that was used:</b>
        <p>
        &ndash; <a href="http://www.raspbian.org">Raspbian</a> by Mike Thompson (mpthompson) and Peter Green (plugwash)<br>
        &ndash; <a href="http://twitter.github.io/bootstrap">Bootstrap</a> by Twitter Inc<br>
        &ndash; <a href="https://github.com/xelerance/xl2tpd">xL2TPD</a> by Xelerance Corp<br>
        </p><br><br>

        <p>Copyright &copy; 2012&ndash;2013, Alexander Bykov.</p>
      </section>

      </div>

    </div> <!-- row -->
  </div> <!-- container -->

  </body>
</html>