<!DOCTYPE html>
<html>
  <head>
    <title>About - Candybox</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="static/css/bootstrap.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <script src="static/js/jquery.js"></script>
    <script src="static/js/bootstrap.js"></script>

  <!-- Check for auth -->
    %if error:
    <h3 class="text-error">Ooops, seems like you are not authorized to view this page. Try to login first.</h3>
    %end

  <!-- Navbar -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
        <a class="brand"><img src="static/img/candybox.png" width="16" height="16"> Candybox</a>
        <ul class="nav">
          <li><a href="setup">Settings</a></li>
          <li class="divider-vertical"></li>
          <li><a href="status">Status</a></li>
          <li class="divider-vertical"></li>
          <li class="active"><a href="">About</a></li>
        </ul>
      </div>
      </div>
    </div>

  <!-- Body -->
    <div class="container-fluid">
    <div class="row-fluid">

      <!--Body content-->
        <div class="span8 offset2"><br>
      
      <!-- Internet connection -->
      <div class="block-inline">

      <section id="info">
        <h3>Candybox 0.0.1</h3>
        <p>Turn your Raspberry Pi into router</p>

        <br>
        <b>Information and documentation</b><br>
        Homepage: <a href="http://www.bearouter.org">http://www.bearouter.org</a><br>
        GitHub: <a href="http://www.github.com">http://www.github.com</a>
        <br><br>


        <b>Authors</b><br>
        Candybox was imagined and created by:<br>

        – Alexander Bykov (<a href="https://github.com/alardus">@alardus</a>)<br>
        – Grigory Bakunov (<a href="https://github.com/bobuk">@bobuk</a>)<br>
        – Danil Ivanov (<a href="https://github.com/imfo">@imfo</a>)<br>
        – Alexey Markin<br>
        – Anatoly Lebedev<br>
        <br>

        <b>Contributors</b><br>
        <p>If you want to help make it better &mdash; you are welcome.<br>
        Join project on GitHub and make a pull request.</p>

      </section>

      </div>

    </div> <!-- row -->
  </div> <!-- container -->

  </body>
</html>