<!DOCTYPE html>
<html>
  <head>
    <title>Control panel - Candybox</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="static/css/bootstrap.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <script src="static/js/jquery.js"></script>
    <script src="static/js/bootstrap.js"></script>

  <!-- Check for auth -->
    %if error:
    <h3 class="text-error">Ooops, seems like you are not authorized to view this page. Try to login first.</h3>
    %end

  <!-- Navbar -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
        <a class="brand"><img src="static/img/candybox.png" width="16" height="16"> Candybox</a>
        <ul class="nav">
          <li><a href="password">Settings</a></li>
          <li class="divider-vertical"></li>
          <li class="active"><a href="">Status</a></li>
          <li class="divider-vertical"></li>
          <li><a href="about">About</a></li>
        </ul>
      </div>
      </div>
    </div>

  <!-- Body -->
    <div class="container-fluid">
    <div class="row-fluid">

      <!--Body content-->
        <div class="span8 offset2"><br>
      
      <!-- Internet connection -->
      <div class="block-inline">

      <section id="info">
        <h2>Overview main router parameters</h2>
        <pre>Internet status: {{connect}}</pre>
        <pre>{{ifaces}}</pre>
        <pre>{{dns}}</pre>
        <pre>{{uptime}}</pre>
        <pre>System info: {{issues}}</pre>
      </br>

      </section>

      </div>

    </div> <!-- row -->
  </div> <!-- container -->

  </body>
</html>