<!DOCTYPE html>
<html>
  <head>
    <title>Login - Candybox</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="static/css/bootstrap.css" rel="stylesheet" media="screen">
  </head>
  <body class="body-login">
    <script src="static/js/jquery.js"></script>
    <script src="static/js/bootstrap.js"></script>

  <div class="row-fluid">
    <div class="span8 offset2">

      <form class="login-form-inline" action="/login" method="POST">

        <!-- First login -->
        %if isnew:
        <fieldset>
          <legend>Welcome to Candybox</legend>
          <p>This is your first login. For security reasons we need to change password for default user (in Raspbian he's called "pi"). This password also will be using for access to Candybox control panel.</p>
          <input name="password" type="password" style="width: 80%" placeholder="Enter new password">
          <button type="submit" class="btn btn-primary" style="float:right">Save</button>
        </fieldset>

        <!-- Second login -->
        %else:
        <fieldset>
          <legend>Login to Candybox</legend>
          <p>For accessing Candybox control panel enter your password bellow.</p>
          <input name="password" type="password" style="width: 80%" placeholder="Password">
          <button type="submit" class="btn btn-primary" style="float:right">Login</button>
        </fieldset>
        %end  
    </form>

    </div>
  </div>

  </body>
</html>