<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Router - Control panel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="static/assets/css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }

        .form-signin {
        max-width: 300px;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
      .form-signin .form-signin-heading,
      .form-signin .checkbox {
        margin-bottom: 10px;
      }
      .form-signin input[type="text"],
      .form-signin input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }

    </style>
    <link href="static/assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="static/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="static/assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="static/assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="static/assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="static/assets/ico/favicon.png">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand">bearouter:</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="">Control panel</a></li>
              <li><a href="info">System info</a></li>
              <li><a href="about">About</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <section id="control">
      %if error:
      <h1 class="text-error">Please login first.</h1>
      %end
      <h2>Internet connection</h2>
        <p><span>Current status:</span> <span class="text-success">{{connect}}</span>.</p>

        <p>"Beeline" use VPN for giving users access to the Internet. Please enter your username and password:</p>
        <form action="/password" method="POST">
          <input name="login" type="text" value={{login}} placeholder="Username"><br>
          <input name="pwd" type="password" value={{pwd}} placeholder="Password"><br>
          <button class="btn" type="submit">Save and connect</button>
        </form>
      </br>

      <h2>Netflix and Pandora support</h2>
      <p>If you are living outside the US you can't use Netflix, Pandora and some other services in normal way.<br>To access them we need to use proxy services located in the US. Not all of they are free for use, so<br>you need to create an account first before you can start using them.</p>

      <p>Currently we support:
          <ul>
            <li><a href="http://tunlr.net">Tunlr</a> - free, support Pandora, Hulu and more <span class="text-error">EXCEPT Netflix</span>.</li>
            <li><a href="http://www.unblock-us.com">Unblock-US</a> - $4.99/mo, <span class="text-success">support Netflix</span> and all other services.</a></li>
          </ul>
          <br>
      </p>
        <form action="/proxy" method="POST"> 
            <p>Select which service use for access Netflix:</p>
            <select name="netflix">
              <option value="208.122.23.22" {{netflix_block}}>Unblock-US</option>
              <option value="142.54.177.158" {{netflix_tunlr}}>Tunlr</option>
            </select>

            <p>Select which service use for access Pandora:</p>
            <select name="pandora">
              <option value="208.122.23.22" {{pandora_block}}>Unblock-US</option>
              <option value="142.54.177.158" {{pandora_tunlr}}>Tunlr</option>
            </select>
            <br>
            <button class="btn" type="submit">Apply settings</button>
        </form>
      <br>

      <h2>Port forwarding</h2>
      <p>Port forwarding allows remote computers (for example, computers on the Internet) to connect to a specific<br>computer or service within a private local-area network (LAN).</p>

        % str = ''
        % for port, host in res:
        %     str += '<form action="/port" method="POST" class="form-inline"> <input name="host" value="%s" type="text" readonly="readonly"/> <input name="port" value="%s" class="span1" type="text" readonly="readonly"/> <input name="action" value="remove" type="hidden"/> <button class="btn" type="submit"><i class="icon-remove"></i></button> </form>' % (host, port)
        % end
        
        {{!str}}
        
        <form id="remove-port-template" action="/port" method="POST" class="form-inline" style="display:none">
           <input name="host" type="text" readonly="readonly"/>
           <input name="port" class="span1" type="text" readonly="readonly"/>
           <input name="action" value="remove" type="hidden"/>
           <button class="btn" type="submit"><i class="icon-remove"></i></button>
        </form>
        
        <form action="/port" method="POST" class="form-inline">
          <input name="host" type="text" placeholder="host"/>
          <input name="port" class="span1" type="text" placeholder="port"/>
          <input name="action" value="add" type="hidden"/>
          <button class="btn" type="submit"><i class="icon-plus"></i></button>
        </form>
      <br>

      <h2>DynDNS support</h2>
      <p><strong>Current status:</strong> <span class="text-success">{{dns}}</span>.</p>
      <p>Dynamic DNS service used to connect remotely to your DVR, webcam, computer or many other devices.</p>
        <form action="/dyndns" method="POST"> 
           <input name="login" type="text" value={{dyn_login}} placeholder="DynDNS username"><br>
           <input name="password" type="password" value={{dyn_password}} placeholder="DynDNS password"><br>
           <input name="host" type="text" value={{dyn_host}} placeholder="DynDNS hostname"><br>
           <button class="btn" type="submit">Apply settings</button>
        </form>
        </form>
      </section>
      <br>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="static/assets/js/jquery.js"></script>
    <script src="static/assets/js/bootstrap-transition.js"></script>
    <script src="static/assets/js/bootstrap-alert.js"></script>
    <script src="static/assets/js/bootstrap-modal.js"></script>
    <script src="static/assets/js/bootstrap-dropdown.js"></script>
    <script src="static/assets/js/bootstrap-scrollspy.js"></script>
    <script src="static/assets/js/bootstrap-tab.js"></script>
    <script src="static/assets/js/bootstrap-tooltip.js"></script>
    <script src="static/assets/js/bootstrap-popover.js"></script>
    <script src="static/assets/js/bootstrap-button.js"></script>
    <script src="static/assets/js/bootstrap-collapse.js"></script>
    <script src="static/assets/js/bootstrap-carousel.js"></script>
    <script src="static/assets/js/bootstrap-typeahead.js"></script>

    <script type="text/javascript">
      $("form[action='/port']").submit(function() {
        var form = $(this);
        var action = form.find("input[name='action']").attr("value");
        
        // TODO: Disable form
        $.ajax({
          type: "POST",
          url: form.attr("action"),
          data: form.serialize(),
          dataType: "json"
        })
        .done(function(data) {
          if (data.status !== "ok") {
            // TODO: show error
            // alert("Error\n" + (data.message || ""));
            return;
          }
          
          if (action === "add") {
            var formTemplate = $("#remove-port-template");
            var clone = formTemplate.clone(true);
            clone.attr("id", null);
            clone.find("input[name='host']").val(data.host);
            clone.find("input[name='port']").val(data.port);
            formTemplate.before(clone);
            clone.fadeIn();
          } else {
            form.remove();
          }
        })
        .fail(function(jqXHR, textStatus, errorThrown) {
          // TODO: show error
          // alert(JSON.stringify(jqXHR) + "\n" + textStatus);
        })
        .always(function(msg) {
          // TODO: Enable form
        });
        
        return false;
      });
    </script>

  </body>
</html>
